{% extends 'base.html.twig' %}

{% block body %}

	<section class="lesarticles">

		<div class="showarticle">

			<div class="showcentrage">

				<div class="retourconcept">
					<a href="{{ path('concept') }}">
						<button type="submit" class="btn btn-primary">
							Revenir à la page "Le concept"
						</button>
					</a>
				</div>

				<div class="articletp">
					<h2>
						{{articles.titre}}
					</h2>
					<img src="{{articles.image}}" alt="photo de la personne">
				</div>

				<div class="datearticle">
					<img src="{{asset('images/variante-de-calendrier-annuel.png')}}" alt="calendrier">
					<p>
						{{ articles.datecreationarticle|date('d/m/Y')}}
					</p>
				</div>

				<div class="contenuarticle">
					<div class="containermax">

						<p>	{{articles.contenu}} </p>

					</div>
				</div>

			</div>

		</div>

	<section>

{% endblock %}
