{% extends 'style.html.twig' %}

{% block body %}

	<div class="inscriptionsite">

		<div class="logosite">
			<a href="{{ path('accueil') }}" class="button">
				<img src="images/logo handi'acc.png" alt="Logo du site"/>
			</a>
		</div>

		<h1>
			Créer votre compte
		</h1>

		<div class="inscription">

			<div class="container2">

				{{ form_start(registrationForm,{'attr': {'novalidate': 'novalidate'}}) }}
				{#{'attr': {'id': 'new_edit_utilisateur'}} #}
				<div id="email">
				{{ form_row(registrationForm.email, {'attr': {'placeholder': 'Email', 'size':'30'}}) }}
				</div>
				<div id="prenom">
					{{ form_row(registrationForm.prenom, {'attr': {'placeholder': 'Prenom', 'size':'30'}}) }}
				</div>
				<div id="nom">
					{{ form_row(registrationForm.nom, {'attr': {'placeholder': 'Nom', 'size':'30'}}) }}
				</div>
				<div id="avatar">
					{{ form_row(registrationForm.avatar,{'attr': {'placeholder': 'Avatar', 'size':'30'}}) }}
				</div>

				<div id="motdepasse">
					{{ form_row(registrationForm.plainPassword, {'label':false, 'attr': {'id':'mon_mp', 'placeholder': 'Mot de Passe', 'size':'30'}})}}
				</div>

				{# <div id="verifmotdepasse">          
				<input type="password" id="verifpass" placeholder="Saisir une seconde fois le mot de passe" size="30" =required>
				</div> #}

				<div id="validation">
					{{ form_row(registrationForm.validation) }}
				</div>

				<div class="btninscription">
					<button type="submit" class="btn btn-danger">
					Créer un compte
					</button>
				</div>

			</div>

			{{ form_end(registrationForm) }}

		</div>

		<div class="compte">
			<p>
				Vous avez un compte ?
			</p>
			<a href="{{ path('connexion') }}">
				Connectez-vous !
			</a>
		</div>

	</div>

{% endblock %}
