{% extends 'style.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="inscriptionsite">
    <div class="logosite">
    <a href="{{ path('accueil') }}" class="button">
                <img src="images/logo handi'acc.png" alt="Logo du site" />
    </a>
    </div>
    <h1> Créer votre compte </h1>

    <div class="inscription">

        <div class="container2">

        {{ form_start(registrationForm) }}

        <div id="email">
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse email'}}) }}
        </div>
        <div id="prenom">
        {{ form_widget(registrationForm.prenom, {'attr': {'placeholder': 'Prenom'}}) }}
        </div>
        <div id="nom">
        {{ form_widget(registrationForm.nom, {'attr': {'placeholder': 'Nom'}}) }}
        </div>
        <div id="avatar">
        {{ form_widget(registrationForm.avatar,{'attr': {'placeholder': 'Avatar'}}) }}
        </div>
        <div id="motdepasse">
        {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de Passe'}}) }}
        </div>
        {{ form_row(registrationForm.validation) }}
        
        
        <button type="submit" class="btn btn-danger"> Créer un compte </button>
    
        </div>

        {{ form_end(registrationForm) }}


    </div>

        <div class="compte">
        <p> Vous avez un compte ? </p>
        <a href="{{ path('connexion') }}"> Connectez-vous ! </a>
        </div>      

    </div>

{% endblock %}

