{% extends 'base.html.twig' %}

{% block body %}

	<section class="sorties2">

		<div class="proposersortie">

		<div class="titreproposition">
			<h1> Proposition de sorties des membres </h1>
		</div>

		<div class="propositionsortie">
			<p> Tu peux aussi proposer une sortie aux membres via ton dashboard en cliquant ici ! </p>
			<a href="{{ path('connexion') }}">
				<button type="submit" class="btn btn-dark">
					Proposer une sortie
				</button>
			</a>
		</div>

		</div>

		<div class="sortie">
			<div class="alignement">

				<div class="sort">


					{% for sortie in sorties %}

						<div class="sor">
							<div class="prenom">
								{{sortie.user.prenom}}
							</div>
							<img src="{{sortie.image}}" alt="unesortie">
							<p>
							Le {{sortie.date |date('d/m/Y')}}
							à {{sortie.date |date('H:i')}}							
							</p>
							<p>
								{{sortie.ville}}</p>
							<p>
								{{sortie.description}}
							</p>
							{# <a href="{{ path('sorties') }}"> <button type="submit" class="btn btn-danger"> Envoyer un message à ... {% for user in users %}{{user.pre}}{% endfor %}</button> </a> #}
							{% if is_granted('ROLE_USER') %}

								{# Ici le contenu réservé aux utilisateurs connectés #}
								<div class="message">
									<a href="{{ path('dashboardmessages') }}">
										<button type="submit" class="btn btn-danger">
											Envoyer un message à 
											{{sortie.user.prenom}}
										</button>
									</a>
								</div>

								{% else %}

								{# Ici le contenu affiché aux utilisateurs non connectés #}


							{% endif %}

							<div class='accepte'>
							{% if is_granted('ROLE_USER') %}
								<a href="{{ path('acceptesortie', { 'id': sortie.id })}}">

							{% else %}

								{# Ici le contenu affiché aux utilisateurs non connectés #}
								<a href="{{ path('connexion') }}">

							{% endif %}
						
									<button type="submit" class="btn btn-primary">
										Accepter la sortie
									</button>
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>


		</div>

	</section>

{% endblock %}
