{% extends 'basesidebar.html.twig' %}

{% block body %}

	<div class="liens">

		<a class="retour" href="{{ path('presentation') }}">
			Retour à la page d'accueil
		</a>
		<a class="deco" href="{{ path('app_logout') }}">
			Deconnexion
		</a>

	</div>

	<div class="imgutilisateur">

			<img src="{{app.user.avatar}}" alt="profil utilisateur">
			
	</div>

	<div class="bienvenue">

		<h1>
			Bienvenue sur votre Dashboard :
			{{app.user.prenom}}
			{{app.user.nom}}
		</h1>
		{# {{app.user.id}} #}

{# 		<p>
			Rôles
		</p>

		{% for role in app.user.roles %}
			{{role}}
		{% endfor %} #}

	</div>

	<div class="illustration">

		<img src="images/tiralarc.jpg" alt=" une personne valide et une personne handicapée jouant au tir à l'arc">

	</div>

{% endblock %}
