{% extends 'basesidebar.html.twig' %}

{% block body %}

<div class="liens">

	<a href="{{ path('presentation') }}">
		Retour à la page d'accueil
	</a>
	<a href="{{ path('app_logout') }}">
		Deconnexion
	</a>

</div>

<div class="container3">

	<div class="ajoutsortie">
		<h1>
			Ajouter une nouvelle sortie
		</h1>

		<div class="container4">
			<div class="formulaireajout">
				{{ form_start(form) }}
				<div id="date1">
					{{ form_widget(form.date, {'attr': {'placeholder': 'Date de la sortie', 'size':'50'}}) }}
				</div>
				<div id="ville1">
					{{ form_widget(form.ville, {'attr': {'placeholder': 'Lieu de la sortie (ville)', 'size':'50'}}) }}
				</div>
				<div id="adresse1">
					{{ form_widget(form.adresse, {'attr': {'placeholder': 'Adresse de la sortie (rue)', 'size':'50'}}) }}
				</div>
				<div id="image1">
					{{ form_widget(form.image, {'attr': {'placeholder': 'Lien de l\'illustration', 'size':'50'}}) }}
				</div>
				<div id="description1">
					{{ form_widget(form.description, {'attr': {'placeholder': 'Description de la sortie', 'style':'width: 428px','height':'400px'}}) }}
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="boutonajout">
				<a href="{{ path('dashboardsortiesencours')}}"> 
				<button type="submit" class="btn btn-primary"> 
				Ajouter </button> 
				</a>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

	</div>

</div>


{% endblock %}
